{% macro menuItem( category_id, category_name, category_children, category_css, category_class ) %}

  {% if category_children|length > 0 %}
  {# это категория с дочерними #}
<li> 
<a  href="index.php?route=product/category&path={{category_id}}" 
    data-toggle="collapse" 
    data-target="#category_{{ category_id }}" 
    class="collapsed active" > 
{% if category_css == "0" %}
  <span class="category_ids category_id_{{category_id}}" style=""></span> 
{% else %}
  <span></span>
{% endif %}
<span class="nav-label {{ category_class }}" id="sb-{{ category_id }}">
  {#{category_id}}:#}{{category_name}} 
</span>         
<span class="fa fa-chevron-right pull-right"></span> 
</a>

<ul class="sub-menu_{{ category_css }} collapse" id="category_{{ category_id }}">
  {% for child in category_children %}
    {% if loop.index==1 %}
        
        {% if child.children|length > 0 %}
           {{ _self.menuItem( child.category_id, child.name, child.children, child.css, child.class ) }} 
        {% else  %}
            <li class="active">
              <a href="index.php?route=product/category&path={{child.category_id}}">
                <span class="{{child.class}}">{{ child.name }}</span>
              </a>
            </li>
        {% endif %}

    {% else %}
    
        {% if child.children|length > 0 %}
           {{ _self.menuItem( child.category_id, child.name, child.children, child.css, child.class ) }} 
        {% else  %}
            <li>
              <a href="index.php?route=product/category&path={{child.category_id}}">
                <span class="{{child.class}}">{{ child.name }}</span>
              </a>
            </li>
        {% endif %}
    
    {% endif %}
  {% endfor %}
</ul>
</li>

{% else %}
{# это категория БЕЗ дочерних (просто пункт) #}
{# need to do for hashed menu: category with subcategories and category item simple #}
{% endif %}
     
{% endmacro menuItem %}


{#

      <a href="#" data-toggle="collapse" data-target="#category_{{ category_id }}" class="collapsed active" > 
        <i class="fa fa-cutlery" aria-hidden="true"></i> 
        <span class="nav-label">{{ category_id}}:{{category_children|length}}:{{category_name}} </span>         
        <span class="fa fa-chevron-right pull-right"></span> 
      </a>
      
      <ul class="sub-menu collapse" id="category_{{ category_id }}">
        {% for yfon in item.filter %}
          {% if loop.index==1 %}
              <li class="active"><a href="#">{{ category.name }}</a></li>
          {% else %}
              <li><a href="#">{{ category.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>


#}