{% macro menuItem( category_id, cat_path, category_name, category_children, category_css, category_class ) %}

{% if category_children|length > 0 %}

    <li> 
        <a  {#href="index.php?route=product/category&path={{cat_path}}" #}
            href="#category_{{ category_id }}" 
            data-toggle="collapse" 
            data-target="#category_{{ category_id }}" 
            data-parent="#id_1010"
            class="collapsed active {{ category_class }}" 
            id="sb-{{ category_id }}"> 

            {% if category_css == "0" %}
                {% if category_id == 113 %}
                <span class="category_ids category_id_{{category_id}}" style="position:relative;top:14px;"></span> 
                {% else %}
                <span class="category_ids category_id_{{category_id}}"></span> 
                {% endif %}
            {% else %}
                <span>{# иконка вторичной категории #}</span>
            {% endif %}
            
            {% if category_id == 133 %}
                  <span class="nav-label one-row">{{category_name[0:30]}}</span> <br/>
                  <span class="nav-label two-row">{{category_name[31:10]}}</span>         
            {% elseif category_id == 134 %}
                  <span class="nav-label one-row">{{category_name[0:28]}}-</span> <br/>
                  <span class="nav-label two-row">{{category_name[28:10]}}</span>            
            {% elseif category_id == 1563 %}
                  <span class="nav-label one-row">{{category_name[0:25]}}</span>               
            {% elseif category_id == 1543 %}
                <span class="nav-label one-row">{{category_name[0:27]}}</span> <br/>
                <span class="nav-label two-row">{{category_name[27:22]}}</span><br/>
                <span class="nav-label three-row">{{category_name[49:22]}}</span>            
            {% elseif category_id == 117 %}
                  <span class="nav-label one-row">{{category_name[0:26]}}...</span>   
            {% elseif category_id == 100 %}
                  <span class="nav-label one-row">{{category_name[0:29]}}...</span>   
            {% elseif category_id == 113 %}
                  <span class="nav-label one-row">{{category_name[0:28]}}</span> <br/>
                  <span class="nav-label two-row">{{category_name[28:20]}}</span>        

            {% elseif category_id == 152 %}
                  <span class="nav-label one-row" style="margin-left:29px;">{{ category_name[0:26] }}</span><br/>
                  <span class="nav-label two-row" style="margin-left:6px;">{{ category_name[26:30] }}</span><br/>
                  <span class="nav-label two-row" style="margin-left:6px;">{{ category_name[56:26] }}</span>

            {% elseif category_id == 1478 %}
                  <span class="nav-label one-row">{{category_name[0:28]}}-</span> <br/>
                  <span class="nav-label two-row">{{category_name[28:20]}}</span> 

            {% else %}
                <span class="nav-label one-row">
                  {{category_name[0:30]}} 
                </span> 
            {% endif %}

            <span class="fa fa-chevron-right pull-right"></span> 
        
        </a>

        <ul class="sub-menu_{{ category_css }} collapse" id="category_{{ category_id }}">
          {% for child in category_children %}
             
                {% if child.children|length > 0 %}
                   {{ _self.menuItem( child.category_id, child.cat_path, child.name, child.children, child.css, child.class ) }} 
                {% else  %}
                    
                    <li>
                        <a id="sb-{{child.category_id}}" class="start_products" href="index.php?route=product/category&path={{child.cat_path}}">
                            {% if child.category_id == 136 %}
                                <span class="nav-label one-row">{{ child.name[0:32] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[32:60] }}</span>
                            {% elseif child.category_id == 66 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[29:40] }}</span>
                            {% elseif child.category_id == 67 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
                            {% elseif child.category_id == 68 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
                            {% elseif child.category_id == 56 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[29:40] }}</span>
                            {% elseif child.category_id == 57 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
                            {% elseif child.category_id == 58 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
                            {% elseif child.category_id == 1465 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
                            {% elseif child.category_id == 1467 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
                            {% elseif child.category_id == 61 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
                            {% elseif child.category_id == 62 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
                            {% elseif child.category_id == 666 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{# здравохранение #}
                            {% elseif child.category_id == 1510 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
                            {% elseif child.category_id == 1512 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
                            {% elseif child.category_id == 1532 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
                            {% elseif child.category_id == 1533 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
                            {% elseif child.category_id == 1511 %}
                                <span class="nav-label one-row">{{ child.name[0:25] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[25:40] }}</span>
                            {% elseif child.category_id == 1526 %}
                                <span class="nav-label one-row">{{ child.name[0:26] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[26:40] }}</span>
                            {% elseif child.category_id == 1524 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
                            {% elseif child.category_id == 1521 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
                            {% elseif child.category_id == 1523 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
                            {% elseif child.category_id == 1522 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{# пищеблок#}
                            {% elseif child.category_id == 1564 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
                            {% elseif child.category_id == 1576 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
                            {% elseif child.category_id == 1577 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
                            {% elseif child.category_id == 1583 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{# клининг #}
                            {% elseif child.category_id == 1459 %}
                                <span class="nav-label one-row">{{ child.name[0:29] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[29:40] }}</span>
                            {% elseif child.category_id == 769 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
{# horega #}
{% elseif child.category_id == 85 %}
                                <span class="nav-label one-row">{{ child.name[0:29] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[29:40] }}</span>
{% elseif child.category_id == 1549 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{% elseif child.category_id == 1559 %}
                                <span class="nav-label one-row">{{ child.name[0:29] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[29:40] }}</span>
{% elseif child.category_id == 1551 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>                                
{# school #}
{% elseif child.category_id == 1441 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:32] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[59:20] }}</span>
                                {#<span class="nav-label two-row">{{ child.name[36:36] }}</span>#}
{% elseif child.category_id == 1440 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:32] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[59:20] }}</span>

{% elseif child.category_id == 1442 %}
                                <span class="nav-label one-row">{{ child.name[0:29] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[29:30] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[59:30] }}</span><br/>
{% elseif child.category_id == 1437 %}
                                <span class="nav-label one-row">{{ child.name[0:29] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[29:40] }}</span>
{% elseif child.category_id == 1438 %}
                                <span class="nav-label one-row">{{ child.name[0:29] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[29:40] }}</span>
{% elseif child.category_id == 1436 %}
                                <span class="nav-label one-row">{{ child.name[0:29] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[29:40] }}</span>
{% elseif child.category_id == 1449 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
{% elseif child.category_id == 1447 %}
                                <span class="nav-label one-row">{{ child.name[0:29] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[29:40] }}</span>
{% elseif child.category_id == 166 %}
                                <span class="nav-label one-row">{{ child.name[0:29] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[29:40] }}</span>
{% elseif child.category_id == 1448 %}
                                <span class="nav-label one-row">{{ child.name[0:29] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[29:40] }}</span>


{# metall #}
{% elseif child.category_id == 120 %}
                                <span class="nav-label one-row">{{ child.name[0:26] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[26:40] }}</span>
{% elseif child.category_id == 119 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{% elseif child.category_id == 1486 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{% elseif child.category_id == 1487 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
{% elseif child.category_id == 1485 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{% elseif child.category_id == 1488 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
{% elseif child.category_id == 1599 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
{% elseif child.category_id == 1607 %}
                                <span class="nav-label one-row">{{ child.name[0:28] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[28:40] }}</span>
{# transport #}
{% elseif child.category_id == 107 %}
                                <span class="nav-label one-row">{{ child.name[0:26] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[26:40] }}</span>
{% elseif child.category_id == 97 %}
                                <span class="nav-label one-row">{{ child.name[0:26] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[26:40] }}</span>
{% elseif child.category_id == 96 %}
                                <span class="nav-label one-row">{{ child.name[0:26] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[26:40] }}</span>
{% elseif child.category_id == 99 %}
                                <span class="nav-label one-row">{{ child.name[0:26] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[26:40] }}</span>
{% elseif child.category_id == 851 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{% elseif child.category_id == 864 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{% elseif child.category_id == 112 %}
                                <span class="nav-label one-row">{{ child.name[0:26] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[26:40] }}</span>
{% elseif child.category_id == 109 %}
                                <span class="nav-label one-row">{{ child.name[0:26] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[26:40] }}</span>
{% elseif child.category_id == 110 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{% elseif child.category_id == 1006 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{# teplo #}
{% elseif child.category_id == 113 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{% elseif child.category_id == 1480 %}
                                <span class="nav-label one-row">{{ child.name[0:26] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[26:40] }}</span>
{% elseif child.category_id == 1479 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{% elseif child.category_id == 1475 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{% elseif child.category_id == 1473 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{% elseif child.category_id == 1472 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>
{% elseif child.category_id == 1469 %}
                                <span class="nav-label one-row">{{ child.name[0:26] }}-</span><br/>
                                <span class="nav-label two-row">{{ child.name[26:40] }}</span>
{% elseif child.category_id == 1483 %}
                                <span class="nav-label one-row">{{ child.name[0:27] }}</span><br/>
                                <span class="nav-label two-row">{{ child.name[27:40] }}</span>


                            {% elseif child.category_id == 134 %}
                            {% else %}
                                <span class="nav-label">{{ child.name[0:30] }}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
              
          {% endfor %}
        </ul>
    </li>

{% endif %}
     
{% endmacro menuItem %}


{#

      <a href="#" data-toggle="collapse" data-target="#category_{{ category_id }}" class="collapsed active" > 
        <i class="fa fa-cutlery" aria-hidden="true"></i> 
        <span class="nav-label">{{ category_id}}:{{category_children|length}}:{{category_name}} </span>         
        <span class="fa fa-chevron-right pull-right"></span> 
      </a>
      
      <ul class="sub-menu collapse" id="category_{{ category_id }}">
        {% for yfon in item.filter %}
          {% if loop.index==1 %}
              <li class="active"><a href="#">{{ category.name }}</a></li>
          {% else %}
              <li><a href="#">{{ category.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>


#}