<div style="background:white; {#rgb(240,244,245);#}">
  <h4 class="h4-info">
    <span class="green-uline">{{ heading_title }}</span>
  </h4>
  <div class="row">
   {% for product in products %}

    <div class="product-layout col-lg-3 col-md-4 col-sm-6 col-xs-12" style="z-index:100;">



      <div class="product-thumb transition feature-image" style="z-index:101;">
        
        <div class="image " style="z-index:102;">
        
          <a href="{{ product.href }}" style="z-index:1000;">
            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
          </a>
        
        </div>
        
        <div class="caption" style="background:white; z-index:100;">
          
          <h4 style="z-index:101;">
          
            <a href="{{ product.href }}" style="z-index:1001;">
          
              {{ product.name }}
          
            </a>
          
          </h4>
          
          <p>{{ product.description }}</p>
          {#
          {% if product.rating %}
          <div class="rating">
            {% for i in 5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
            {% else %}
            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
          #}
          {#
          {% if product.price %}
          <p class="price">
            {% if not product.special %}
            {{ product.price }}
            {% else %}
            <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
            {% endif %}
            {% if product.tax %}
            <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
            {% endif %}
          </p>
          {% endif %}
          #}
        </div>
        {#
        <div class="button-group">
          <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
          <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
          <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
        </div>
        #}
      </div>



    </div>
    {% endfor %}
    <div class="col-lg-12  block-center text-center">
      <a class="btn btn-success" href="index.php?route=product/category&path=1606">
        &nbsp;&nbsp;&nbsp;ВСЕ ТОВАРЫ&nbsp;&nbsp;&nbsp;
      </a>
    </div>
  </div>
</div>