  <style type="text/css">
    .carousel-indicators{
      position:absolute;
      top:0;
      bottom:0;
      margin:auto;
      height:20px;
      right:29px; 
      left:auto;
      width:auto;
    }
    .carousel-indicators li{
      display:block; 
      margin-bottom:5px; 
      border:1px solid #369A38;
      width: 14px;
      height: 14px; 
    }
    .carousel-indicators li.active{
      margin-bottom:5px; 
      background:#369A38;
      width: 14px;
      height: 14px;
    }
/*
   .imagediv {
      height:560px;
      overflow:hidden;"      
    }
*/

/* Large desktops and laptops */
@media (min-width: 1200px) {
   .imagediv {
      height:560px;
      overflow:hidden;"      
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
   .imagediv {
      height:560px;
      overflow:hidden;"      
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
   .imagediv {
      height:460px;
      overflow:hidden;"      
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
   .carousel-inner {
    margin-bottom: 20px;
   }
   .imagediv {
      height:360px;
      overflow:hidden;"      
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
   .carousel-inner {
    margin-bottom: 10px;
   }

   .imagediv {
      height:160px;
      overflow:hidden;"      
    }
    .carousel-indicators {
      display: none;
    }
}
 



  </style>
  
  <section class="slide-wrapper">
      {#<div class="container">#}
          <div id="myCarousel" class="carousel slide">
              <!-- Indicators -->
              <ol class="carousel-indicators" style="outline:0px dashed red;color:blue;" >
              {% for banner in banners %}
                  <li data-target="#myCarousel" data-slide-to="{{loop.index0}}" 
                      {% if loop.index == 1 %}class="active"{% endif %}>
                  </li>
              {% endfor %}
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">

              {% for banner in banners %}

                {#% if loop.index==1 %#}
                  <div class="imagediv item item{{loop.index}} 
                  {% if loop.index==1%}active{% endif %}" 
                  
                  
                  
                  >
                      <div class="fill" style="background-color:#fff;">
                          <div class="inner-content">
                              <div class="carousel-img">

				{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img img-responsive" />{% endif %}

{#                                <img src="{{ banner.image }}" alt="white-sofa" class="img img-responsive" /> #}

                              </div>
                              {#
                              <div class="carousel-desc">
                                  <h2>{{ banner.title }}</h2>
                                  <p>
                                    {{ banner.description }}.
                                  </p>
                              </div>
                              #}
                          </div>
                      </div>
                  </div>
                {#% endif %#}
                

              {% endfor %}

              </div>
          </div>
      {#</div>#}
  </section>
  <script type="text/javascript">
    
    $(document).ready(function(){
  // invoke the carousel
      $('#myCarousel').carousel({
        interval:6000
      });

  // scroll slides on mouse scroll 
  $('#myCarousel').bind('mousewheel DOMMouseScroll', function(e){

          if(e.originalEvent.wheelDelta > 0 || e.originalEvent.detail < 0) {
              $(this).carousel('prev');
        
        
          }
          else{
              $(this).carousel('next');
        
          }
      });

  //scroll slides on swipe for touch enabled devices 

    $("#myCarousel").on("touchstart", function(event){
   
          var yClick = event.originalEvent.touches[0].pageY;
        $(this).one("touchmove", function(event){

          var yMove = event.originalEvent.touches[0].pageY;
          if( Math.floor(yClick - yMove) > 1 ){
              $(".carousel").carousel('next');
          }
          else if( Math.floor(yClick - yMove) < -1 ){
              $(".carousel").carousel('prev');
          }
      });
      $(".carousel").on("touchend", function(){
              $(this).off("touchmove");
      });
  });
      
  });
  //animated  carousel start
  $(document).ready(function(){

  //to add  start animation on load for first slide 
  $(function(){
      $.fn.extend({
        animateCss: function (animationName) {
          var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
          this.addClass('animated ' + animationName).one(animationEnd, function() {
            $(this).removeClass(animationName);
          });
        }
      });
         $('.item1.active img').animateCss('slideInDown');
         $('.item1.active h2').animateCss('zoomIn');
         $('.item1.active p').animateCss('fadeIn');
         
  });
    
  //to start animation on  mousescroll , click and swipe


   
       $("#myCarousel").on('slide.bs.carousel', function () {
      $.fn.extend({
        animateCss: function (animationName) {
          var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
          this.addClass('animated ' + animationName).one(animationEnd, function() {
            $(this).removeClass(animationName);
          });
        }
      });
    
  // add animation type  from animate.css on the element which you want to animate

      $('.item1 img').animateCss('slideInDown');
      $('.item1 h2').animateCss('zoomIn');
      $('.item1 p').animateCss('fadeIn');
      
      $('.item2 img').animateCss('zoomIn');
      $('.item2 h2').animateCss('swing');
      $('.item2 p').animateCss('fadeIn');
      
      $('.item3 img').animateCss('fadeInLeft');
      $('.item3 h2').animateCss('fadeInDown');
      $('.item3 p').animateCss('fadeIn');
      });
  });

  </script>


    {#
      {% if loop.index==2 %}
      <div class="item item{{loop.index}} {% if loop.index==1%}active{% endif %}" style="height:600px;overflow:hidden;">
          <div class="fill" style="background-color:#fff;">
              <div class="inner-content">
                  <div class="col-md-4">
                    <div class="carousel-img">
                      <img src="{{ banner.image }}" alt="white-sofa" class="img img-responsive" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="carousel-desc">
                        <h2>{{ banner.title }}</h2>
                        <p>
                            {{ banner.description }}.
                        </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="carousel-img">
                      <img src="{{ banner.image }}" alt="white-sofa" class="img img-responsive" />
                    </div>
                  </div>
              </div>
          </div>
      </div>
    {% endif %}

    {% if loop.index==3 %}
      <div class="item item{{loop.index}} {% if loop.index==1%}active{% endif %}" style="height:600px;overflow:hidden;">
        <div class="fill" style="background-color:#fff;">
            <div class="inner-content">
                <div class="carousel-img">
                  <img src="{{ banner.image }}" alt="white-sofa" class="img img-responsive" />
                </div>
                <div class="carousel-desc">
                    <h2>{{ banner.title }}</h2>
                    <p>
        {{ banner.description }}.
                    </p>
                </div>
            </div>
        </div>
      </div>
    {% endif %}
    #}
