{{ header }}
<div id="product-category" class="container container-fluid" style="outline:0px solid #804000;">

  {{ include( "default/template/product/parts/breadcrumbs.html.twig", 
    {
      breadcrumbs: breadcrumbs
    }
  )}}

  <div class="row">
    {#  боковое меню #}
    {{ column_left }}
    {#  // боковое меню #}

    <div id="content" class="col-lg-9 col-md-7 col-sm-6 col-xs-12">{{ content_top }}

      {% if products %}
    
      
        {{ include( "default/template/product/parts/filter.html.twig", 
          { 
            products: products,
            products_start: products_start, 
            products_count: products_count,
            text_compare: text_compare,
            text_sort: text_sort,
            sorts: sorts,
            text_limit: text_limit
          }
        ) }}

        {{ include( "default/template/product/parts/productitems.html.twig", 
          { 
            products: products
          }
        ) }}

        
        {{ include( "default/template/product/parts/paginator.html.twig", 
          { pagination: pagination } 
        ) }}
        

        
        
      {% endif %}

      {{ include( 'default/template/product/parts/no_products.html.twig', 
      {
        categories: categories,
        products: products,
        text_empty: text_empty,
        continue: continue,
        button_continue: button_continue
      } ) }}

      {{ content_bottom }}

    </div>
    {{ column_right }}
  </div>
</div>

<script type="text/javascript"> 
  $(document).ready(function(){
    $('.start_products').each( function(index, item) {  
       $(this).on( "click", function(){
          //console.log( "to " + $(this).attr('href') + " go " );
          window.location.href = $(this).attr('href');
       })
    })
  })
</script>

{{ footer }} 

