<div class="row">

  <div class="row"> 
    <div class="col-md-12">
      <br>
      <div class="col-md-3 column-head"></div>
      <div class="col-md-6"></div>
      <div class="col-md-3 how-match-items-on-page">Показано &nbsp; {{ products_start }} - {{ products_start + products|length - 1 }}&nbsp;из&nbsp;{{ products_count }}</div>
    </div>
  </div>

  {# кнопки сортировки и числа товаров на странице  #}
  <div class="col-md-2 col-sm-6 hidden-xs hidden-sm hidden-md hidden-lg">{# hidden-sm hidden-md hidden-lg #}
    <div class="btn-group btn-group-sm">
      <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
      <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 hidden-sm hidden-md hidden-lg">{# hidden-sm hidden-md hidden-lg #}
    <div class="form-group"><a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a></div>
  </div>
  <div class="col-md-4 col-xs-6 hidden-sm hidden-md hidden-lg">{##}
    <div class="form-group input-group input-group-sm">
      <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
      <select id="input-sort" class="form-control" onchange="location = this.value;">
        {% for sorts in sorts %}
        {% if sorts.value == '%s-%s'|format(sort, order) %}
        <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
        {% else %}
        <option value="{{ sorts.href }}">{{ sorts.text }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-md-3 col-xs-6 hidden-sm hidden-md hidden-lg">{##}
    <div class="form-group input-group input-group-sm">
      <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
      <select id="input-limit" class="form-control" onchange="location = this.value;">
        {% for limits in limits %}
        {% if limits.value == limit %}
        <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
        {% else %}
        <option value="{{ limits.href }}">{{ limits.text }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
</div>
