
<div class="list-group category-list">

  {% for category in categories %}
      {% if category.category_id == category_id %} 
          <a href="{{ category.href }}" class="list-group-item active">
          {% if category.top == 1 %}
              {#<img src="/image/{{ category.image }}" alt="{{ category.name }}">#}
              <div class="category_ids category_id_{{ category.category_id }}"></div>
              <span style="margin-left:2px;">{{ category.name }}</span>  <span class="budge-open">  </span>
          {% else %}     
              <span style="margin-left:38px;">={{ category.name }}</span>  <span class="budge-close">  </span>
          {% endif %}
          </a>

          {% if category.children %}
              {% for child in category.children %}
                  {% if child.category_id == child_id %}
                  <a href="{{ child.href }}" class="list-group-item active">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a> 
                  {% else %} 
                  <a href="{{ child.href }}" class="list-group-item">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
                  {% endif %}
              {% endfor %}
          {% endif %}
      {% else %} 
          {# Не выбранная категория #}
          <a href="{{ category.href }}" class="list-group-item">
          {% if category.top == 1 %}
              <div class="category_ids category_id_{{ category.category_id }}_unselect"></div>
              <span style="margin-left:2px;">{{ category.name }}</span><span class="budge-close"></span>
          {% else %}
              
          {% endif %}
          </a>
      {% endif %}
  {% endfor %}
</div>


{#


<div class="list-group">
    {% for category in categories %}
        {% if category.category_id == category_id %}
        <a href="{{ category.href }}" class="list-group-item active">
          
          {% if category.top == 1 %}
            <img src="/image/{{ category.image }}" alt="{{ category.name }}" style="width:24px;height:24px;">
          {% endif %}

         <span style="margin-left:40px;">{{ category.name }}</span>  <span class="budge"> > </span>
        </a>
        {% else %}
        <a href="{{ category.href }}" class="list-group-item">
            <span class="glyphicon glyphicon-user"></span>  {{ category.name }} <span class="badge"> > </span>
        </a>
        {% endif %}
    {% endfor %}
</div>




<div class="col-lg-12">
    <h3 class="text-left">Фильтр</h3>
    <div class="" style="">
      <ul class="list-group checked-list-box">
<li style="border:none;" class="list-group-item" data-style="button">Моющее средство</li>
<li style="border:none;" class="list-group-item" data-color="success">Средство для дезинфекции</li>
<li style="border:none;" class="list-group-item" data-style="button" data-color="info">Средство для ухода за поверхностью</li>
<li style="border:none;" class="list-group-item" data-color="warning">Средство для очистки металла</li>
<li style="border:none;" class="list-group-item" data-style="button" data-color="danger">Средство для очистки паластика</li>
        </ul>
    </div>
</div>


<script type="text/javascript">
  $(function () {
    $('.list-group.checked-list-box .list-group-item').each(function () {
        
        // Settings
        var $widget = $(this),
            $checkbox = $('<input type="checkbox" class="hidden" />'),
            color = ($widget.data('color') ? $widget.data('color') : "primary"),
            style = ($widget.data('style') == "button" ? "btn-" : "list-group-item-"),
            settings = {
                on: {
                    icon: 'glyphicon glyphicon-check'
                },
                off: {
                    icon: 'glyphicon glyphicon-unchecked'
                }
            };
            
        $widget.css('cursor', 'pointer')
        $widget.append($checkbox);

        // Event Handlers
        $widget.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
        });
        $checkbox.on('change', function () {
            updateDisplay();
        });
          

        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $widget.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $widget.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$widget.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $widget.addClass(style + color + ' active');
            } else {
                $widget.removeClass(style + color + ' active');
            }
        }

        // Initialization
        function init() {
            
            if ($widget.data('checked') == true) {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
            }
            
            updateDisplay();

            // Inject the icon if applicable
            if ($widget.find('.state-icon').length == 0) {
                $widget.prepend('<span class="state-icon ' + settings[$widget.data('state')].icon + '"></span>');
            }
        }
        init();
    });
    
    $('#get-checked-data').on('click', function(event) {
        event.preventDefault(); 
        var checkedItems = {}, counter = 0;
        $("#check-list-box li.active").each(function(idx, li) {
            checkedItems[counter] = $(li).text();
            counter++;
        });
        $('#display-json').html(JSON.stringify(checkedItems, null, '\t'));
    });
});
</script>

#}






