
<div class="list-group category-list">

  {% for category in categories %}
      {% if category.category_id == category_id %} 
          <a href="{{ category.href }}" class="list-group-item active">
          {% if category.top == 1 %}
              {#<img src="/image/{{ category.image }}" alt="{{ category.name }}">#}
              <div class="category_ids category_id_{{ category.category_id }}"></div>
              <span style="margin-left:2px;">{{ category.name }}</span>  <span class="budge budge-open">  </span>
          {% else %}     
              <span style="margin-left:38px;">={{ category.name }}</span>  <span class="budge-close">  </span>
          {% endif %}
          </a>

          {% if category.children %}
              {% for child in category.children %}
                  {% if child.category_id == child_id %}
                  <a href="{{ child.href }}" class="list-group-item active">
                    <span class="subcategory">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
                  </a> 
                  {% else %} 
                  <a href="{{ child.href }}" class="list-group-item">
                    <span class="subcategory">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{ child.name }}
                  </a>
                  {% endif %}
              {% endfor %}
          {% endif %}
      {% else %} 
          {# Не выбранная категория #}
          <a href="{{ category.href }}" class="list-group-item">
          {% if category.top == 1 %}
              <div class="category_ids category_id_{{ category.category_id }}_unselect"></div>
              <span style="margin-left:2px;">{{ category.name }}</span>
              <span class="budge budge-close">
              {# <i class="fa fa-chevron-down pull-right"></i> #}  
              </span>
          {% else %}
              
          {% endif %}
          </a>
      {% endif %}
  {% endfor %}
</div>


<div class="list-group category-list">
    <h3 class="text-left column-head" style="background: url('/image/catalog/categories/header-decorator.png') -1700px -9px;">Фильтр 1</h3>
    <div class="" style="">
      <ul class="list-group noborder">
          <li class="list-group-item noborder" style="border:0px dashed #fff;">
              Моющее средство
              <div class="material-switch pull-right">
                  <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox"/>
                  <label for="someSwitchOptionDefault" class="label-default"></label>
              </div>
          </li>
          <li class="list-group-item noborder" style="border:0px dashed #fff;">
              Средство для дезинфекции
              <div class="material-switch pull-right">
                  <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
                  <label for="someSwitchOptionPrimary" class="label-primary"></label>
              </div>
          </li>
          <li class="list-group-item noborder" style="border:0px dashed #fff;">
              Средство для ухода за поверхностью
              <div class="material-switch pull-right">
                  <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"/>
                  <label for="someSwitchOptionSuccess" class="label-success"></label>
              </div>
          </li>
          <li class="list-group-item noborder" style="border:0px dashed #fff;">
              Средство для очистки металла
              <div class="material-switch pull-right">
                  <input id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox"/>
                  <label for="someSwitchOptionInfo" class="label-info"></label>
              </div>
          </li>
          <li class="list-group-item noborder" style="border:0px dashed #fff;">
              Средство для очистки паластика
              <div class="material-switch pull-right">
                  <input id="someSwitchOptionWarning" name="someSwitchOption001" type="checkbox"/>
                  <label for="someSwitchOptionWarning" class="label-warning"></label>
              </div>
          </li>
      </ul>

<h3 class="text-left column-head" style="background: url('/image/catalog/categories/header-decorator.png') -1700px -9px;">Фильтр 2</h3>

        <div class="fform-group row">
            <div class="col-sm-12">
              <div class="col">
                <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-0" autocomplete="off" checked />
                <div class="btn-group">
                    <label for="frm-test-elm-100-0" class="btn btn-default">
                        <span class="fa fa-check-square-o fa-lg"></span>
                        <span class="fa fa-square-o fa-lg"></span>
                        <span class="content">Моющее средство.</span>
                    </label>
                </div>
              </div>
              <div class="col">
                <input type="checkbox" name="checkboxes[100-1]" id="frm-test-elm-100-1" autocomplete="off" />
                <div class="btn-group">
                    <label for="frm-test-elm-100-1" class="btn btn-default">
                        <span class="fa fa-check-square-o fa-lg"></span>
                        <span class="fa fa-square-o fa-lg"></span>
                        <span class="content">Средство для дезинфекции.</span>
                    </label>
                </div>
              </div>
              <div class="col">
                <input type="checkbox" name="checkboxes[100-2]" id="frm-test-elm-100-2" autocomplete="off" />
                <div class="btn-group">
                    <label for="frm-test-elm-100-2" class="btn btn-default">
                        <span class="fa fa-check-square-o fa-lg"></span>
                        <span class="fa fa-square-o fa-lg"></span>
                        <span class="content">Средство для ухода за поверхностью.</span>
                    </label>
                </div>
              </div>

              <div class="col">
                <input type="checkbox" name="checkboxes[100-2]" id="frm-test-elm-100-3" autocomplete="off" />
                <div class="btn-group">
                    <label for="frm-test-elm-100-3" class="btn btn-default">
                        <span class="fa fa-check-square-o fa-lg"></span>
                        <span class="fa fa-square-o fa-lg"></span>
                        <span class="content">Средство для очистки металла.</span>
                    </label>
                </div>
              </div>
              <div class="col">
                <input type="checkbox" name="checkboxes[100-2]" id="frm-test-elm-100-4" autocomplete="off" />
                <div class="btn-group">
                    <label for="frm-test-elm-100-4" class="btn btn-default">
                        <span class="fa fa-check-square-o fa-lg"></span>
                        <span class="fa fa-square-o fa-lg"></span>
                        <span class="content">Средство для очистки паластика.</span>
                    </label>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>




