{% macro menuItem(type, category_id, category_name, is_first ) %}
  {% if type is defined %}
      <li> 
        <a href="#" data-toggle="collapse" data-target="#category_{{ category_id }}" class="collapsed active" > 
          <i class="fa fa-cutlery" aria-hidden="true"></i> 
          <span class="nav-label"> {{category_name}} </span>         
          <span class="fa fa-chevron-right pull-right"></span> 
        </a>
        <ul class="sub-menu collapse" id="category_{{ category.category_id }}">
          {% for yfon in item.filter %}
            {% if loop.index==1 %}
                <li class="active"><a href="#">{{ category.name }}</a></li>
            {% else %}
                <li><a href="#">{{ category.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
  {% endif %}
{% endmacro menuItem %}
