
<div class="list-group category-list">

  {% for category in categories %}
      {% if category.category_id == category_id %} 
          <a href="{{ category.href }}" class="list-group-item active" style="">
          {% if category.top == 1 %}
              {#<img src="/image/{{ category.image }}" alt="{{ category.name }}">#}
              <div class="category_ids category_id_{{ category.category_id }}"></div>
              <span style="margin-left:2px;">{{ category.name }}</span>  <span class="budge budge-open">  </span>
          {#
          {% else %}     
              <span style="margin-left:38px;">={{ category.name }}</span>  <span class="budge-close">  </span>
          #}
          {% endif %}
          <i class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true" style="margin-top:4px; margin-right:4px;"></i>
          </a>
          {% if category.children %}
              {% for child in category.children %}
                  {% if child.category_id == child_id %}
                  <a href="{{ child.href }}" class="list-group-item active">
                    <span class="subcategory">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
                  </a> 
                  {% else %} 
                  <a href="{{ child.href }}" class="list-group-item">
                    <span class="subcategory">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{ child.name }}
                  </a>
                  {% endif %}
              {% endfor %}
          {% endif %}
      {% else %} 
          {# Не выбранная категория #}
          <a href="{{ category.href }}" class="list-group-item">
          {% if category.top == 1 %}
              <div class="category_ids category_id_{{ category.category_id }}_unselect"></div>
              <span style="margin-left:2px;">{{ category.name }}</span>
              <span class="budge budge-close">
              <i class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="margin-right:4px;margin-top:4px;"></i>  
              </span>
          {% else %}
              
          {% endif %}
          </a>
      {% endif %}
  {% endfor %}
</div>

<div id="sidebar_13" class="list-group category-list">
  <h3 class="text-left column-head" style="background: url('/image/catalog/categories/header-decorator.png') -1700px -9px; width:260px; overflow:hidden;">{{ text_filter }}
  </h3>
  <div id="id_13" class="sidebar left ">
    <ul class="list-sidebar bg-defoult">
  
      {% for item in filters %}
      <li> 
        <a href="#" data-toggle="collapse" data-target="#dashboard_{{ item.filter_group_id }}" class="collapsed active" > 
          <i class="fa fa-th-large"></i> 
          <span class="nav-label"> {{item.name}} </span> 
          <span class="fa fa-chevron-left pull-right"></span> 
        </a>
        <ul class="sub-menu collapse" id="dashboard_{{ item.filter_group_id }}">
          {% for yfon in item.filter %}
            {% if loop.index==1 %}
                <li class="active"><a href="#">{{ yfon.name }}</a></li>
            {% else %}
                <li><a href="#">{{ yfon.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% endfor %}

    </ul>
  </div>
</div>

<div id="sidebar_12" class="list-group category-list">
  
  <div id="id_12" class="sidebar left ">
    <ul class="list-sidebar bg-defoult">
  
      </li>
      <li> <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active" > <i class="fa fa-th-large"></i> <span class="nav-label"> Dashboards </span> <span class="fa fa-chevron-left pull-right"></span> </a>
        <ul class="sub-menu collapse" id="dashboard">
          <li class="active"><a href="#">CSS3 Animation</a></li>
          <li><a href="#">General</a></li>
          <li><a href="#">Buttons</a></li>
          <li><a href="#">Tabs & Accordions</a></li>
          <li><a href="#">Typography</a></li>
          <li><a href="#">FontAwesome</a></li>
          <li><a href="#">Slider</a></li>
          <li><a href="#">Panels</a></li>
          <li><a href="#">Widgets</a></li>
          <li><a href="#">Bootstrap Model</a></li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a> </li>
      <li> <a href="#" data-toggle="collapse" data-target="#products" class="collapsed active" > <i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span> <span class="fa fa-chevron-left pull-right"></span> </a>
        <ul class="sub-menu collapse" id="products">
          <li class="active"><a href="#">CSS3 Animation</a></li>
          <li><a href="#">General</a></li>
          <li><a href="#">Buttons</a></li>
          <li><a href="#">Tabs & Accordions</a></li>
          <li><a href="#">Typography</a></li>
          <li><a href="#">FontAwesome</a></li>
          <li><a href="#">Slider</a></li>
          <li><a href="#">Panels</a></li>
          <li><a href="#">Widgets</a></li>
          <li><a href="#">Bootstrap Model</a></li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a> </li>
      <li> <a href="#" data-toggle="collapse" data-target="#tables" class="collapsed active" ><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa fa-chevron-left pull-right"></span></a>
        <ul  class="sub-menu collapse" id="tables" >
          <li><a href="#"> Static Tables</a></li>
          <li><a href="#"> Data Tables</a></li>
          <li><a href="#"> Foo Tables</a></li>
          <li><a href="#"> jqGrid</a></li>
        </ul>
      </li>
      <li> <a href="#" data-toggle="collapse" data-target="#e-commerce" class="collapsed active" ><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-commerce</span><span class="fa fa-chevron-left pull-right"></span></a>
        <ul  class="sub-menu collapse" id="e-commerce" >
          <li><a href="#"> Products grid</a></li>
          <li><a href="#"> Products list</a></li>
          <li><a href="#">Product edit</a></li>
          <li><a href="#"> Product detail</a></li>
          <li><a href="#">Cart</a></li>
          <li><a href="#"> Orders</a></li>
          <li><a href="#"> Credit Card form</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span> </a></li>
      <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
      <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
      <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
      <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
      <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
    </ul>
  </div>
</div>



<script type="text/javascript">
$(document).ready(function(){
   $('#id_13 a').click(function(e){
       e.preventDefault();
       //$('.sidebar').toggleClass('fliph');
   }); 
});
</script>







{#
<h3 class="text-left column-head" style="background: url('/image/catalog/categories/header-decorator.png') -1700px -9px;">Фильтр 2</h3>

        <div class="fform-group row">
            <div class="col-sm-12">
              <div class="col">
                <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-0" autocomplete="off" checked />
                <div class="btn-group">
                    <label for="frm-test-elm-100-0" class="btn btn-default">
                        <span class="fa fa-check-square-o fa-lg"></span>
                        <span class="fa fa-square-o fa-lg"></span>
                        <span class="content">Моющее средство.</span>
                    </label>
                </div>
              </div>
              <div class="col">
                <input type="checkbox" name="checkboxes[100-1]" id="frm-test-elm-100-1" autocomplete="off" />
                <div class="btn-group">
                    <label for="frm-test-elm-100-1" class="btn btn-default">
                        <span class="fa fa-check-square-o fa-lg"></span>
                        <span class="fa fa-square-o fa-lg"></span>
                        <span class="content">Средство для дезинфекции.</span>
                    </label>
                </div>
              </div>
              <div class="col">
                <input type="checkbox" name="checkboxes[100-2]" id="frm-test-elm-100-2" autocomplete="off" />
                <div class="btn-group">
                    <label for="frm-test-elm-100-2" class="btn btn-default">
                        <span class="fa fa-check-square-o fa-lg"></span>
                        <span class="fa fa-square-o fa-lg"></span>
                        <span class="content">Средство для ухода за поверхностью.</span>
                    </label>
                </div>
              </div>

              <div class="col">
                <input type="checkbox" name="checkboxes[100-2]" id="frm-test-elm-100-3" autocomplete="off" />
                <div class="btn-group">
                    <label for="frm-test-elm-100-3" class="btn btn-default">
                        <span class="fa fa-check-square-o fa-lg"></span>
                        <span class="fa fa-square-o fa-lg"></span>
                        <span class="content">Средство для очистки металла.</span>
                    </label>
                </div>
              </div>
              <div class="col">
                <input type="checkbox" name="checkboxes[100-2]" id="frm-test-elm-100-4" autocomplete="off" />
                <div class="btn-group">
                    <label for="frm-test-elm-100-4" class="btn btn-default">
                        <span class="fa fa-check-square-o fa-lg"></span>
                        <span class="fa fa-square-o fa-lg"></span>
                        <span class="content">Средство для очистки паластика.</span>
                    </label>
                </div>
              </div>
            </div>
        </div>
        #}




