{% if zones|length > 1 %}

  {% if zones[0].layout == 0 %}
    <div class="pull-left" style="padding:0px; margin:0px;height:30px;min-height:30px;">
      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-zone">
        <div class="btn-group" style="margin-top:5px;outline:0px dashed red; background: none;">{# рамка на всё #}
      
          <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" style="text-decoration:none;padding-top:0px; padding-bottom:0px; border:none;">
            <span class="glyphicon glyphicon-map-marker" style="color:#FAFAFA; font-size:14px;"></span>
            <span class="hidden-xs hidden-sm hidden-md zone_font" style="color:#FEFAEA;">
              {{ current_zone.name }}           
            </span>&nbsp;
            <i class="fa fa-caret-down" style="color:#FEFAEA; font-size:14px;"></i>
          </button>

          <ul class="dropdown-menu dropdown-zone" style="z-index:5000;">
            {% for zone in zones %}
                  <li style="outline:0px solid red; z-index:5000;">
                    <button  style="color:#FEFAEA; text-align:left; z-index:5000;" class="zone-select btn btn-link btn-block" type="button" name="{{ zone.code }}">{{ zone.name }}</button>
                  </li>
            {% endfor %}
          </ul>

        </div>
        <input type="hidden" name="code" value="" />
        <input type="hidden" name="redirect" value="{{ redirect }}" />
      </form>
    </div>
    {#
  {% else %}

        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-zone">
        
        <ul class="nav navbar-nav navbar-left" style="background:rgb(0, 150, 69);">
            
            <li class="dropdown" style="background:green;" >
              <a style="color:#fefaea;" href="#" class="dropdown-toggle" data-toggle="dropdown">
<i class="fa fa-map-marker" aria-hidden="true" style="float:leftq;"></i>
                &nbsp;{{ current_zone.name }}&nbsp;<span class="caret"></span></a>
              
              <ul class="dropdown-menu" role="menu"  style="background:blue;" >
                
                {% for zone in zones %}
                    <li>
                      <a style="color:#111;" href="#" name="{{zone.code}}" class="zone-select">:{{ zone.name }}</a>
                    </li>
                {% endfor %}

              </ul>
            </li>
        </ul>  
        <input type="hidden" name="code" value="" />
        <input type="hidden" name="redirect" value="{{ redirect }}" />
        </form>
        #}  
  {% endif %} 
{% endif %}