{#
<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer>
#}

<footer>
     <div class="container">
       <div class="row">
       
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    {% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
                    <h1><a href="{{ home }}">{{ name }}</a></h1>
                    {% endif %}
               </div>
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul class="contact">
                         <span>МЕНЮ</span>    
                         <li>
                            <a href="#">Продукция</a>
                          </li>
                               
                          <li>
                             <a href="#">О компании</a>
                          </li>
                               
                          <li>
                            <a href="#">Дилерам</a>
                          </li>
                               
                          <li>
                             <a href="#">Прайс-лист </a>
                          </li>
                               
                          <li>
                            <a href="#">Новости</a>
                         </li>

                         <li>
                            <a href="#">Контакты</a>
                         </li>

                         <li>
                            <a href="#">Подбор продукта</a>
                         </li>

                         <li>
                            <a href="#">ДезКалькулятор</a>
                         </li>

                    </ul>
                </div>
                
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul class="contact">
                         <span>Контакты</span>    
                         <li>
                            <a href="#">8 (800) 200 30 35</a>
                          </li>
                               
                          <li>
                             Заказать звонок
                          </li>
                               
                          <li>
                            Прием заказов ежедневно
                          </li>
                               
                          <li>
                             С 9.00 до 18.00
                          </li>
                               
                          <li>
                            Электронная почта
                         </li>

                         <li>
                              <span>Мы в соцсетях</span>
                              <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                              <a href="#"><i class="fa fa-github fa-2x"></i></a>
                         </li>

                    </ul>
                </div>
           
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <span>Адрес</span>    
                  <br/>
                  {{ zone }}
                  <br/><br/>
                  Санкт-Петербург
                  <br/>
                  195279 Индустриальный пр. д.43 лит "К"
              </div>

           </div> 
        </div>
    </footer>

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

</body></html>