{{ header }}

<div id="information-newslist" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  <div class="row">
    <div class="col-sm-12 ">
      
      <div class="col-sm-4 img-anonce ">
          <h3 class="h2"><span class="green-uline">{{ heading_title }}</span></h3>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4 img-anonce ">
          <h3 class="h2"><span class="green-uline">{{ heading_title_news }}</span></h3>
      </div>

        <div class="col-sm-8 ">
        {% for item in top_news %}
            <div class="row news-anonce" >
            <div class="col-sm-6 img-anonce ">
              {{ item.image }}
            </div>  
            <div class="col-sm-6  ">
              <h4 style="font-weight:bold;">{{ item.title }}</h4>
              <p>
                {{ item.description }}
              </p>
            </div>
            </div>
            <div class="row" >
              <div class="col-sm-6">
              </div>
              <div class="col-sm-6">
                  <div class="button-group" style="margin-top:5px; border:none; background:none;">
                    <form action="index.php">
<input type="hidden" name="route" value="information/onenews">
<input type="hidden" name="information_id" value="{{item.information_id}}">
                      <button class="" style="width:45%;color:#111;" type="submit">
                        <span class="hidden-xs hidden-sm hidden-md" style="color:#111">ПОДРОБНЕЕ</span>
                      </button>
                      <button style="width:15%; margin-left:15px;" type="button" title="">
                        <i class="fa fa-vk"></i>
                      </button>
                      <button style="width:15%;" type="button"  title="">
                        <i class="fa fa-twitter"></i>
                      </button>
                      <button style="width:15%;" type="button"  title="">
                        <i class="fa fa-facebook"></i>
                      </button>
                    </form> 
                  </div>
              </div>
              <hr/>&nbsp;
            </div>
        {% endfor %}
        </div>
       
        <div class="col-sm-4 ">
            {{ topnews }}
        </div>
    </div>
  </div> {# row 1 #}
</div>{# information-newslist #}



{{ footer }}

