{{ header }}
<div id="information-contact" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  <div class="row">
    {% set class = 'col-sm-9' %}  
    <div id="content" class="{{ class }}">
      {{ contact_content|raw }}
    </div>
    {% set class = 'col-sm-3 debug-3' %}
    <div id="content" class="{{ class }}">
      <h3>Публикации</h3>
      {% for item in published %}
        <div class="feednews debug">
          <img src="https://dummyimage.com/200x100/fafaac/111" alt="" style="width:100%;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, possimus perspiciatis? Nisi odit maxime, nulla consectetur ut, doloribus eligendi voluptatem veniam voluptatum fugit impedit facere veritatis aliquam voluptas ipsam sed.
        </div>
      {% endfor %}
      <div class="text-center">
        <button class="btn btn-success" style="background:rgb(54,154,56);">ДРУГИЕ ПУБЛИКАЦИИ</button>
      </div>
    </div>  
  </div>

</div>
{{ footer }}



