{{ header }}

<div id="information-dezcalculator" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

    
    {# content page #}
  <div class="row">
    <div class="col-sm-12 ">
      <h4 class="h2"><span class="green-uline">{{ heading_title }}</span></h2>
        <br>
      <div class="col-sm-6">
        {##}
        <form>
          <div class="form-group">
            <label for="field_id_1">Выберите категорию</label>
            <select id="field_id_1" class="form-control">
              <option value="0">--- Выберите ---</option>
              <option value="10">Пищевая промышленность</option>
              <option value="54">Сельское хозяйство</option>
              <option value="87">Клининг</option>
              <option value="94">Транспорт</option>
              <option value="113">Теплообменное оборудование</option>
              <option value="117">Машиностроение и металлургия</option>
              <option value="127">Охрана труда</option>
              <option value="131">Учреждения здравохранения</option>
              <option value="150">Детские сады и школы</option>
              <option value="168">Салоны красоты и SPA</option>
            </select>
          </div>

          <div class="form-group">
            <label for="field_id_2">Выберите вид обработки</label>
            <select id="field_id_2" class="form-control">
              <option value="0">--- Выберите ---</option>
              <option value="1">Дезинфекция поверхностей</option>
              <option value="2">Дезинфекция изделий медицинского назначения</option>
              <option value="3">Дезинфекция на пищеблоке</option>
              <option value="4">Стерилизация и ДВУ эндоскопов </option>
              <option value="5">Дезинфекция биологических и медицинских отходов</option>
              <option value="6">Гигиена кожных покровов</option>
              <option value="7">Профессиональная уборка</option>
            </select>
          </div>

          <div class="form-group">
            <label for="field_id_3">Выберите средство</label>
            <select id="field_id_3" class="form-control">
              <option value="0">--- Выберите ---</option>
              <option value="1">Все</option>
            </select>
          </div>
{#
          <div class="text-center">
            <button type="submit" class="btn btn-success">Рассчитать</button>  
          </div>
#}
        </form>        
        {##}
      </div>
      <div class="col-sm-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">
                    Не знаете, как подобрать продукт? Нажмите кнопку, и мы Вам поможем.
                  </h3>
              </div>
              <div class="panel-body text-center">
                  <button class="btn btn-success">ПОДОБРАТЬ ПРОДУКТ</button>
              </div>
          </div>
      </div>
    </div>  

  </div>{# ROW #}

  <div class="row">
    <div class="col-sm-12">

{{ filtered_products }}

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 ">
      <h3>{{ heading_title_second_form }}</h3>
          

<div class="list-group">
  {% for detail in details %}
  <a onclick="return false;" href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between ">

      <div class="text-left " style="height:40px;float:left;padding-top:10px;margin-right:10px;margin-left:10px;" onclick="alert("Показываем хэлп");">
          <img class="" src="/image/catalog/pages/dezcalc/question-sign.png" style="width:20px; height:20px;" alt=""/>
      </div>

      <div class="outline:1px solid red;">
        <h4 class="mb-1" style="font-weight:bold;font-size:20px;">{{ detail.title }}

            <span style="" class="pull-right">
              {% for field in detail.fields %}  
                  {% if field.type == 'checkbox' %}
                  <label class="form-check-label" style="font-weight:500;font-size:18px;margin-right:10px;">
                      <input class="form-check-input" type="checkbox"> {{ field.title }}
                  </label>
                  {% endif %}  
                  {% if field.type == 'input' %}
                  <label class="form-check-label">
                      <input class="form-check-input" type="text"> 
                  </label>
                  {% endif %}  
              {% endfor %}
            </span>
        </h4>

        <small class="">{{ detail.subtitle }}</small>
        &nbsp;
      </div>

    </div>

  </a>
  {% endfor %}
</div>


      <div class="text-left">
          <button type="submit" class="btn btn-success">{{ heading_button_calc }}</button>  
      </div>
    </div>
  </div>

    {# //content page #}

    {#{ contact_content|raw }#}


</div>{# information-contact #}



{{ footer }}

