{{ header }}

<div id="information-newslist" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  <div class="row">
    <div class="col-sm-12 ">
      
      <div class="col-sm-4 img-anonce ">
          <h3 class="h2"><span class="green-uline">{{ heading_title }}</span></h3>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4 img-anonce ">
          {# <h3 class="h2"><span class="green-uline">{{ heading_title_pub }}</span></h3> #}
      </div>
    </div>
  </div>
{# variant 1 #}
  <div class="row">
    <div class="col-sm-12 ">
        <div class="col-sm-6 ">
          {% for item in top_news %}

              <div class="row news-anonce" >
                <div class="col-sm-6 img-anonce ">
                  {% if item.foreground_image|length > 1 %}
                    <img src="{{ item.foreground_image }}" alt="SpecSyntez News Article" />
                  {% else %}
                    <img src="/image/catalog/logo-325x325.png" alt="SpecSyntez News Article" />
                  {% endif %}
                </div>  
                <div class="col-sm-6  ">
                  <h4 style="font-weight:bold;">{{ item.title }}</h4>
                  <p>
                    {{ item.foreground_text }}
                  </p>
                </div>
              </div>

              <div class="row" >
                <div class="col-sm-12">
                    <div class="button-group" style="margin-top:5px; border:none; background:none;">

                        <a href="index.php?route=information/onenews&information_id={{item.information_id}}">
                        <button class="" style="width:45%;color:#111;">
                          <span class="hidden-xs hidden-sm hidden-md" style="color:#111">ПОДРОБНЕЕ</span>
                        </button>
                        </a>

                        <button style="width:15%; margin-left:15px;" type="button" title="">
                          <i class="fa fa-vk"></i>
                        </button>
                        <button style="width:15%;" type="button"  title="">
                          <i class="fa fa-twitter"></i>
                        </button>
                        <button style="width:15%;" type="button"  title="">
                          <i class="fa fa-facebook"></i>
                        </button>

                    </div>
                </div>
              </div>
          {% endfor %}      
        </div>        

        <div class="col-sm-6 ">
          {% for item in top_news %}

              <div class="row news-anonce" >
                <div class="col-sm-6 img-anonce ">
                  {% if item.foreground_image|length > 1 %}
                    <img src="{{ item.foreground_image }}" alt="SpecSyntez News Article" />
                  {% else %}
                    <img src="/image/catalog/logo-325x325.png" alt="SpecSyntez News Article" />
                  {% endif %}
                </div>  
                <div class="col-sm-6  ">
                  <h4 style="font-weight:bold;">{{ item.title }}</h4>
                  <p>
                    {{ item.foreground_text }}
                  </p>
                </div>
              </div>

              <div class="row" >
                <div class="col-sm-12">
                    <div class="button-group" style="margin-top:5px; border:none; background:none;">

                        <a href="index.php?route=information/onenews&information_id={{item.information_id}}">
                        <button class="" style="width:45%;color:#111;">
                          <span class="hidden-xs hidden-sm hidden-md" style="color:#111">ПОДРОБНЕЕ</span>
                        </button>
                        </a>

                        <button style="width:15%; margin-left:15px;" type="button" title="">
                          <i class="fa fa-vk"></i>
                        </button>
                        <button style="width:15%;" type="button"  title="">
                          <i class="fa fa-twitter"></i>
                        </button>
                        <button style="width:15%;" type="button"  title="">
                          <i class="fa fa-facebook"></i>
                        </button>

                    </div>
                </div>
              </div>
          {% endfor %}      
        </div>
       {#
        <div class="col-sm-4 ">
            {{ toparticles }}
        </div>
        #}        
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 ">
      <div class="block-center text-center">
      {{ pagination }}
      </div>
    </div> {# row 1 #}
  </div>

</div>{# information-newslist #}



{{ footer }}

