<footer style="background:rgb(240,244,245);color:#111; margin-top:20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/image/catalog/logo-325x160.png" alt="" title="" style="width:325px; height:160px;"/>
      </div>

      <div class="col-md-2">
        <h3>МЕНЮ</h3>
        <ul class="footer-list">
          <li><a href="#">Продукция</a></li>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Дилерам</a></li>
          <li><a href="#">Прайс-лист</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Подбор продукта</a></li>
          <li><a href="#">Дезкалькулятор</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3>КОНТАКТ</h3>
        <ul class="footer-list">
          <li><a href="tel:88002003035"> <i class="fa fa-phone"></i>&nbsp;  8 800 200 30 35</a> </li>
          <li>&nbsp;</li>
          <li>Прием заказов ежедневно</li>
          <li>с 9:00 до 18:00</li>
          <li>&nbsp;</li>
          <li>Электронная почта</li>
          <li><a href="mailto:sales@specsintez.com"><i class="fa fa-envelope"></i>&nbsp;sales@specsintez.com</li>
          <li>&nbsp;</li>
          <li>Мы в соцсетях</li>
          <li>
            <a href="#"><i class="fa fa-vk"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3>АДРЕС</h3>
        <ul class="footer-list">
          <li>195279, Санкт-Петербург </li>
          <li>Индустриальный пр-т, д. 49 литера "К"</li>
        </ul>
      </div>

      {#
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
      #}
    </div>
    <p>{{ powered }}</p>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

</body></html>