{#
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
#}
<style type="text/css">
  .navbar-inverse.nav-upper {
    height: 50px;
  }
  .navbar-inverse.nav-upper ul {
    float: right;
    display: table;
  }
  .navbar-inverse.nav-upper .navbar-upper > li {
    display: table-cell;
    font-size: 14px;
  }
  .navbar-inverse.nav-upper .navbar-upper > li > a {
    color: #111;
  }
  .navbar-inverse.nav-upper .navbar-upper > li > a:hover {
    color: rgb(54,154,56);
  }

  .navbar-inverse .navbar-nav > li > a:hover, 
  .navbar-inverse .navbar-nav > li > a:focus {
      color: rgb(54,154,56);
      /*font-weight: bold;*/
      background-color: transparent;
  }

  @media (min-width: 768px) {
    .navbar.navbar-lower .navbar-nav {
      margin-left: 330px;
    }
  }
  .navbar-logo {
    outline: 0px dashed red;
    background-image: url('/image/catalog/logo-325x160.png');
    width: 345px;
    height: 120px;
    /*background-size: cover;*/
    background-position: 20px -20px;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 1051;
  }
  
  .navbar-inverse {
      background-color: rgb(240,244,245);
      background-image: linear-gradient(to bottom, rgb(240,244,245) 0%, rgb(240,244,245) 100%);
      color: #111;
      border: 0px solid green;
      font-size: 18px;
  }

  .up_line {
    color: #111;
  }
  .navhover:hover {
    color: rgb(54,154,56);
  }


</style>

<div class="container" style="margin-bottom:20px;">
  <div class="row" >
    <div id="menu2" class="col-md-12">

      <a class="navbar-logo" href="index.php"></a>

      <nav id="id1" class="navbar-inverse nav-upper">
        <div class="container-fluid">
          <ul class="nav navbar-upper">

            {% for item in up_line %}
              <li>
                <a class="up_line {{ item.class }}" href="{{item.href}}"> 
                  <i class="{{item.awesome}}"></i>
                  &nbsp;{{ item.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>

      <nav id="id2" class="navbar navbar-inverse navbar-static-top navbar-lower" >
        <div class="container-fluid">
          <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                {#<a class="navbar-brand" href="#">Главная</a>#}
              </div>

<div class="collapse navbar-collapse js-navbar-collapse" style="background:rgb(240,244,245);float:right;margin-left:0px;">
                <ul class="nav navbar-nav">
                  {% for item in down_line %}
{% if loop.index == 1 %}
    <li class="dropdown mega-dropdown">
      <a href="{{item.href}}" class="dropdown-toggle" data-toggle="dropdown">{{ item.title}} 
        <span class="glyphicon glyphicon-chevron-down pull-right" style="margin-left:6px;"></span></a>
      <ul class="dropdown-menu mega-dropdown-menu row" style="margin-left:30px;">

        {% for column in columns %}
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">{{ column.header }}</li>
            
            {% for colutem in column[loop.index0] %}
              <li class="text-left"><a class="column.class" href="#">{{ colutem }}</a></li>
            {% endfor %}
            
          </ul>
        </li>
        {% endfor %}


        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">АКЦИИ</li>
            <div id="mySmallCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">

<div class="item dropdown-offer active">
<a href="#"><img src="http://placehold.it/254x150/ef5e55/f5f5f5/&text=ТоварПоАкции" class="img-responsive" alt="product 2"></a>
<h4><small>Скидки и распродажи этого продукта</small></h4>
{#<button class="btn btn-success" type="button">100 Руб</button>#}
<button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-earphone"></span> Заказать звонок</button>  
</div>
                
{% for banner in banners %}
<div class="item dropdown-offer {% if loop.ibdex == 1 %}active{% endif %}" id="small_{{ loop.index }}">
<a href="{{ banner.link }}">
<img src="/image/{{ banner.image }}" class="img-responsive" alt="{{ banner.title }}">

</a>
<h4><small>{{ banner.title }}</small></h4>
{#<button class="btn btn-success" type="button">123 Руб</button>#}
<button href="{{ banner.link }}" class="btn btn-default" type="button">
  <span class="glyphicon glyphicon-earphone"></span> Узнать больше</button>  
</div>
{% endfor %}


                <!-- End Item -->
{#
                <div class="item">
                  <a href="#"><img src="http://placehold.it/254x150/ef5e55/f5f5f5/&text=ТоварПоАкции" class="img-responsive" alt="product 2"></a>
                  <h4><small>Скидки и распродажи этого продукта</small></h4>
                  <button class="btn btn-success" type="button">100 Руб</button>
                  <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-earphone"></span> Заказать звонок</button>  
                </div>
                <!-- End Item -->

                <div class="item">
                  <a href="#"><img src="http://placehold.it/254x150/2ecc71/f5f5f5/&text=ТоварИзРекламы" class="img-responsive" alt="product 3"></a>
                  <h4><small>Акции и распродажи</small></h4>
                  <button class="btn btn-success" type="button">от 100 руб</button>
                  <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-earphone"></span> Заказать звонок</button>  
                </div>
                <!-- End Item -->
                #}
              </div>
              <!-- End Carousel Inner -->
            </div>
            <!-- /.carousel -->

            <!-- Controls -->
            <a class="left carousel-control" href="#small_1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Пред</span>
            </a>
            <a class="right carousel-control" href="#small_2" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">След</span>
            </a>
                       
            <li class="divider"></li>
            <li><a href="index.php?route=product/category&path=113">Перейти в каталог <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
          </ul>
        </li>

      </ul>
    </li>
{% else %}
                      <li><a class="{{item.class}} menu-space" href="{{ item.href }}">{{ item.title}}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <!-- /.nav-collapse -->
            </nav>
        </div>
      </nav>
    </div>
  </div>
</div>



