<div class="container">
  <div class="row">
      {% for item in categories %}

        {% if loop.index == 1 or loop.index == 6 %}
            <div class="row">
        {% endif %}

{% if loop.index < 11 %}
<div id="panel_outer_{{ item.category_id }}" class="col-md-1-5 panel-menu-item" onclick="location={{ item.href }}">
<div id="menu_{{ item.category_id }}" class="panel_menu" >
</div>
<a href="{{ item.href }}">{{ item.name }}</a>
</div>
{% endif %}

        {% if loop.index % 5 == 0 %}
            </div>
        {% endif %}

      {% endfor %}
  </div>
  <div class="row" id="information">
    
    {{ information_description | raw }}
  
  </div>  

</div>

