{{ header }}
<div id="information-contact" class="container">
  <ul class="breadcrumb" style="padding-left:0px; margin-left:0px;">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  <div class="row">
    {% set class = 'col-sm-8' %}  
    <div id="content" class="{{ class }}">
      {{ contact_content|raw }}
    </div>

    {% set class = 'col-sm-4' %}
    <div id="content" class="{{ class }}" style="background:#F0FFF0;">
      {#
      <h3><span class="sub-title green-uline">Публикации</span></h3>
      {{ toparticles }}
      #}
          <h4 class="h4-info" style="margin-top:19px;"><span class="green-uline">Начать сотрудничество </span></h4>
          <div class="">
            <p>
              Если Вы желаете обратиться к нашей компании с предложением о сотрудничестве, заполните расположенную ниже форму, и мы оперативно свяжемся с Вами.  
            </p>
          </div>
          <br/>
        <form {#action="index.php?route=information/information&information_id=10"#} method="POST">
        <div class="col-sm-12">
          <div class="md-input">
              <input name="myname" class="md-form-control" required="" type="text" style="background:#F0FFF0;">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label><i class="fa fa-user bigicon" aria-hidden="true"></i>&nbsp;Ваше имя</label>
          </div>
          <div class="md-input">
              <input name="myphone" class="md-form-control" required="" type="text" style="background:#F0FFF0;">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label><i class="fa fa-mobile bigicon" aria-hidden="true"></i>&nbsp;Ваш телефон</label>
          </div>
          <div class="md-input">
              <input name="mymessage" class="md-form-control" required="" type="text" style="background:#F0FFF0;">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label><i class="fa fa-pencil bigicon" aria-hidden="true"></i>&nbsp;Ваше сообщение</label>
          </div>

          <div class="g-recaptcha" data-sitekey="6LfQiDkUAAAAANi3OjJ4mIRvPe3gv04PouEmd6hq"></div>

          <p class="block-center text-center block-center">
            <br/>
            <input type="submit" class="btn btn-success" value="ОТПРАВИТЬ">
          </p>

        </div>

        </form>
    </div> 
     
  </div>

</div>
{{ footer }}



