{{ header }}
<div id="dealers-page" class="container">
  <div class="row">
    <ul class="breadcrumb" style="padding-left:0px; margin-left:0px;">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {% set information_id = 10 %}      
      {# выводим новости в нижней части страницы для конкретной ID=10 #}
      {% if information_id == 10 %}    
        <div class="row">
          {# ID=10 start #}
          {% if lang == 'ru' %}
          <div class="container">
        <div class="row">
          <h4 class="h4-info"><span class="green-uline">НПО "СпецСинтез" приглашает к сотрудничеству</span></h4>
        {% if hint != '' %}
          <div id="hint-msg" class="alert alert-success">
            {{ hint }}
          </div>
        {% endif %}
        <div class="col-sm-12">
            <p>Все клиенты компании - это корпоративный капитал. Мы ценим это и выстраиваем с нашими партнерами прочные и долговременные отношения.</p>
            
          </div>
        </div>
        
        <div class="row">
          

          <h5><span class="sub-title">Схема индивидуальной работы с заказчиком:</span></h5>
        <div class="col-sm-12">
            <div class="col-md-1-5 text-center">
                <div class="step-1 "></div>
                <p>Сбор и анализ информации</p>
            </div>
            <div class="col-md-1-5 text-center">
                <div class="step-2 "></div>
                  <p>Лабораторные разработки&nbsp; и исследования </p>
            </div>
            <div class="col-md-1-5 text-center">
                <div class="step-3"></div>
                  <p>Испытания на месте</p>
            </div>
            <div class="col-md-1-5 text-center">
                <div class="step-4"></div>
                <p>Внедрение</p>
            </div>
            <div class="col-md-1-5 text-center">
                <div class="step-5"></div>
                <p>Авторский надзор</p>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
          <p class="p4">
            Компания организует выездные обучающие материалы для руководителей и персонала. Мы гарантируем оперативность выполненения заказов, 
            осуществляем доставку по России и СНГ, обеспечиваем клиентов бесплатными образцами продукции и рекламной информацией.
            Осуществляем техническую поддержку и консультации в постоянном режиме.
            </p>
          </div>
        </div>
          
        <div class="row">
          
          <h4 class="h4-info"><span class="green-uline">Начать сотрудничество </span></h4>
          <div class="col-sm-6">
            <p>
              Если Вы желаете обратиться к нашей компании с предложением о сотрудничестве, заполните расположенную ниже форму, и мы оперативно свяжемся с Вами. Также, чтобы стать нашим дилером, необходимо иметь статус юридического лица, желательно наличие наработанных контактов по Вашему региону. 
            </p>
            {% if user_id == 0  %}
            <p>
              <a class="btn btn-success" href="index.php?route=account/login">Вход для дилеров</a>
            </p>
            {% else %}
            <p>
              <a class="btn btn-success" href="index.php?route=account/account">Личный кабинет</a>
            </p>
            <p>
              <a class="btn btn-success" href="index.php?route=account/logout">Выход</a>
            </p>
            {% endif %}

          </div>
        <form {#action="index.php?route=information/information&information_id=10"#} method="POST">

        <div class="col-sm-6">
{#
  <div id="error_box" class="alert alert-warning alert-dismissible fade in" role="alert"> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span></button> 
    <strong>Исправьте ошибки!</strong> <span id="error_message">Укажите отдел, в который будет отправлено ваше сообщение.</span> 
  </div>
#}

<div id="error_box" class="alert alert-warning hidden">
    <strong>Исправьте ошибки!</strong> 
    <span id="error_message">Укажите отдел, в который будет отправлено ваше сообщение.</span> 
</div>

          <div class="md-input">
              <input name="myname" class="md-form-control" required="" type="text">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label><i class="fa fa-user bigicon" aria-hidden="true"></i>&nbsp;Ваше имя</label>
          </div>
          <div class="md-input">
              <input name="myphone" class="md-form-control" required="" type="text">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label><i class="fa fa-mobile bigicon" aria-hidden="true"></i>&nbsp;Ваш телефон</label>
          </div>
          <div class="md-input">
              <input name="mymessage" class="md-form-control" required="" type="text">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label><i class="fa fa-pencil bigicon" aria-hidden="true"></i>&nbsp;Ваше сообщение</label>
          </div>

          <div class="md-input">
              <select  class="form-control" name="department" id="department">
                <option value="0">Укажите отдел компании</option>
                <option value="1">Промышленность</option>
                <option value="2">Сельское хозяйство</option>
                <option value="3">Медицина</option>
              </select>
          </div>

          {#<div class="g-recaptcha" data-sitekey="6LfQiDkUAAAAANi3OjJ4mIRvPe3gv04PouEmd6hq"></div>#}

          <p class="block-center text-center block-center">
<script type="text/javascript">
  function validateForm(){
    
    if( $("#department").val() != 0 ){
      return true;
    } else {
      $("#error_box").removeClass("hidden");
      // $("#error_box").show();
      /*
      $("#error_box").addClass("in");
      */
      return false;
    }
    
    return false;
  }
</script>
            <input onclick="return validateForm();" type="submit" class="btn btn-success" value="ОТПРАВИТЬ">
          </p>

        </div>

        </form>

      </div>
    </div>
          {% endif %}
          {% if lang == 'en' %}
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem culpa tenetur debitis, accusamus dignissimos, provident cumque enim, dolorem consequuntur animi eaque. Quae ea in aliquam quas maxime rerum omnis cumque?
            </div>
          {% endif %}
          {# id=10 end #}
        </div>
{% endif %}      

      {{ newslatest }}
      {{ content_bottom }}  

    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}



