{{ header }}

<div id="information-contact" class="container">
  <ul class="breadcrumb" style="padding-left:0px; margin-left:0px;">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  <div class="row">  


    {# SPB-RU start #}   
    {% if lang == 'ru' and current_zone == 2785 %}
    <div id="center_content" class="col-sm-12">
      <div id="map" style="min-height:600px;">
          <div id="mapcontent">
            <h4>Контакты</h4>
            <p>
              <span class="txt24">
                <i class="fa fa-mobile" style="font-size:32px;"></i>
              </span> 
              +7 (812) <span style="font-size:24px; font-weight:bold;">318-47-17</span>
            </p>
            <p>
              <span class="txt24">
              <i class="fa fa-envelope"></i>
              </span>&nbsp;
              mail@specsintez.com 
            </p>
              <h4>Адрес</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                </span>
                195030 Санкт-Петербург,<br>
                Потапова ул. дом 2 
              </p>
              <h4>Склад</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-truck" aria-hidden="true"></i>
                </span>
                Подъезд под погрузку осуществляется с<br>
                правой стороны здания.<br>
                Оформление документов внутри здания 
              </p>
          </div>
      </div>
    </div>


    {# row 2 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Москва</div>
    <div  class="col-sm-6 phone-city">Курск</div>
    </div>

    <div id="center_content" class="col-sm-12">
      
      <div  class="col-sm-6" id="map_2_1" style="overflow:hidden; height:300px; outline:0px dashed blue;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/moscow-static.png", "MO", redirect ) }}
      </div>

      <div  class="col-sm-6" id="map_2_2" style="overflow:hidden; height:300px; outline:0px dashed red;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/kursk-static.png", "KK", redirect ) }}      
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Тел: +7(495) 665-02-53 email: dir-msk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Тел: +7(4712) 44-60-18 email: V.Shukin@specsintez.com</div>
    </div>

    {# row 3 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Новосибирск</div>
    <div  class="col-sm-6 phone-city">Ростов-на-Дону</div>
    </div>
    <div id="center_content" class="col-sm-12">
      <div  class="col-sm-6" id="map_3_1" style="overflow:hidden; height:300px; outline:0px dashed green;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/nsk-static.png", "NV", redirect ) }}   
      </div>
      <div  class="col-sm-6" id="map_3_2" style="overflow:hidden; height:300px; outline:0px dashed magenta;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/rnd-static.png", "RO", redirect ) }} 
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Тел: +7(383) 363-10-88 email: opt-nsk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Тел: +7(863) 201-43-44 email: rostov@specsintez.com</div>
    </div>

    {% endif %}
    {# SPB-RU end #}
    {# SPB - EN start #}
    {% if lang == 'en' and current_zone == 2785 %}
    <div id="center_content" class="col-sm-12">
      <div id="map" style="min-height:600px;">
          <div id="mapcontent">
            <h4>Contacts</h4>
            <p>
              <span class="txt24">
                <i class="fa fa-mobile" style="font-size:32px;"></i>
              </span> 
              +7 (812) <span style="font-size:24px; font-weight:bold;">318-47-17</span>
            </p>
            <p>
              <span class="txt24">
              <i class="fa fa-envelope"></i>
              </span>&nbsp;
              mail@specsintez.com 
            </p>
              <h4>Address</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                </span>
                liter. "K", Industrialny ave. 43,
                St.Petersberg, Russia, 195279<br>
                 
              </p>
              <h4>Loading</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-truck" aria-hidden="true"></i>
                </span>
                Way for loading from right side our building.<br>
                Logist: Korshikova Galina<br>
              </p>
          </div>
      </div>
    </div>

    {# row 2 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Moscow</div>
    <div  class="col-sm-6 phone-city">Kurks</div>
    </div>

    <div id="center_content" class="col-sm-12">
      
      <div  class="col-sm-6" id="map_2_1" style="overflow:hidden; height:300px; outline:0px dashed blue;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/moscow-static.png", "MO", redirect ) }}
      </div>

      <div  class="col-sm-6" id="map_2_2" style="overflow:hidden; height:300px; outline:0px dashed red;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/kursk-static.png", "KK", redirect ) }}      
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Phone: +7(495) 665-02-53 email: dir-msk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Phone: +7(4712) 44-60-18 email: V.Shukin@specsintez.com</div>
    </div>

    {# row 3 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Novosibirsk</div>
    <div  class="col-sm-6 phone-city">Rostov-na-Donu</div>
    </div>
    <div id="center_content" class="col-sm-12">
      <div  class="col-sm-6" id="map_3_1" style="overflow:hidden; height:300px; outline:0px dashed green;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/nsk-static.png", "NV", redirect ) }}   
      </div>
      <div  class="col-sm-6" id="map_3_2" style="overflow:hidden; height:300px; outline:0px dashed magenta;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/rnd-static.png", "RO", redirect ) }} 
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Phone: +7(383) 363-10-88 email: opt-nsk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Phone: +7(863) 201-43-44 email: rostov@specsintez.com</div>
    </div>

  {% endif %}
  {# SPB - EN end#}
  

{# MSK-RU start #}   
    {% if lang == 'ru' and current_zone == 2761 %}
    <div id="center_content" class="col-sm-12">
      <div id="map" style="min-height:600px;">
          <div id="mapcontent">
            <h4>Контакты</h4>
            <p>
              <span class="txt24">
                <i class="fa fa-mobile" style="font-size:32px;"></i>
              </span> 
              +7 (495) <span style="font-size:24px; font-weight:bold;">665 02 53</span>
            </p>
            <p>
              <span class="txt24">
              <i class="fa fa-envelope"></i>
              </span>&nbsp;
              dir-msk@specsintez.com
            </p>
              <h4>Адрес</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                </span>
                127576, Москва<br>
                ул. Новгородская, д.1
              </p>
              <h4>Подъезд</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-truck" aria-hidden="true"></i>
                </span>
                Место погрузки и график<br>
                уточняйте по телефону<br>
              </p>
          </div>
      </div>
    </div>

    {# row 2 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Санкт-Петербург</div>
    <div  class="col-sm-6 phone-city">Курск</div>
    </div>

    <div id="center_content" class="col-sm-12">
      
      <div  class="col-sm-6" id="map_2_1" style="overflow:hidden; height:300px; outline:0px dashed blue;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/spb-static.png", "SP", redirect ) }}
      </div>

      <div  class="col-sm-6" id="map_2_2" style="overflow:hidden; height:300px; outline:0px dashed red;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/kursk-static.png", "KK", redirect ) }}      
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Тел: +7(812) 318-47-17 email: mail@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Тел: +7(4712) 44-60-18 email: V.Shukin@specsintez.com</div>
    </div>

    {# row 3 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Новосибирск</div>
    <div  class="col-sm-6 phone-city">Ростов-на-Дону</div>
    </div>
    <div id="center_content" class="col-sm-12">
      <div  class="col-sm-6" id="map_3_1" style="overflow:hidden; height:300px; outline:0px dashed green;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/nsk-static.png", "NV", redirect ) }}   
      </div>
      <div  class="col-sm-6" id="map_3_2" style="overflow:hidden; height:300px; outline:0px dashed magenta;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/rnd-static.png", "RO", redirect ) }} 
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Тел: +7(383) 363-10-88 email: opt-nsk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Тел: +7(863) 201-43-44 email: rostov@specsintez.com</div>
    </div>
    {% endif %}
{# MSK RU end #}

{# MSK EN start #}
    {% if lang == 'en' and current_zone == 2761 %}
    <div id="center_content" class="col-sm-12">
      <div id="map" style="min-height:600px;">
          <div id="mapcontent">
            <h4>Contacts</h4>
            <p>
              <span class="txt24">
                <i class="fa fa-mobile" style="font-size:32px;"></i>
              </span> 
              +7 (495) <span style="font-size:24px; font-weight:bold;">665 02 53</span>
            </p>
            <p>
              <span class="txt24">
              <i class="fa fa-envelope"></i>
              </span>&nbsp;
              dir-msk@specsintez.com 
            </p>
              <h4>Address</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                </span>
                1 building, Novgorodskaya street,
                Moscow, Russia, 127576<br>
                 
              </p>
              <h4>Loading</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-truck" aria-hidden="true"></i>
                </span>
                For loading track call us<br>
                <br>
              </p>
          </div>
      </div>
    </div>

    {# row 2 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">St.Peterburg</div>
    <div  class="col-sm-6 phone-city">Kursk</div>
    </div>

    <div id="center_content" class="col-sm-12">
      
      <div  class="col-sm-6" id="map_2_1" style="overflow:hidden; height:300px; outline:0px dashed blue;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/spb-static.png", "SP", redirect ) }}
      </div>

      <div  class="col-sm-6" id="map_2_2" style="overflow:hidden; height:300px; outline:0px dashed red;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/kursk-static.png", "KK", redirect ) }}      
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Phone: +7(812) 318-47-17 email: mail@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Phone: +7(4712) 44-60-18 email: V.Shukin@specsintez.com</div>
    </div>

    {# row 3 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Novosibirsk</div>
    <div  class="col-sm-6 phone-city">Rostov-na-Donu</div>
    </div>
    <div id="center_content" class="col-sm-12">
      <div  class="col-sm-6" id="map_3_1" style="overflow:hidden; height:300px; outline:0px dashed green;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/nsk-static.png", "NV", redirect ) }}   
      </div>
      <div  class="col-sm-6" id="map_3_2" style="overflow:hidden; height:300px; outline:0px dashed magenta;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/rnd-static.png", "RO", redirect ) }} 
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Phone: +7(383) 363-10-88 email: opt-nsk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Phone: +7(863) 201-43-44 email: rostov@specsintez.com</div>
    </div>

  {% endif %}
{# MSK EN end#}


{# NSK-RU start #}   
    {% if lang == 'ru' and current_zone == 2768 %}
    <div id="center_content" class="col-sm-12">
      <div id="map" style="min-height:600px;">
          <div id="mapcontent">
            <h4>Контакты</h4>
            <p>
              <span class="txt24">
                <i class="fa fa-mobile" style="font-size:32px;"></i>
              </span> 
              +7 (383) <span style="font-size:24px; font-weight:bold;">363 09 88</span>
            </p>
            <p>
              <span class="txt24">
              <i class="fa fa-envelope"></i>
              </span>&nbsp;
              opt-nsk@specsintez.com
            </p>
              <h4>Адрес</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                </span>
                630117, г. Новосибирск, <br>
                ул. Арбузова 1/1 к. 14, оф. 222/5<br> 
                (со стороны улицы Иванова)<br>
              </p>
              <h4>Подъезд</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-truck" aria-hidden="true"></i>
                </span>
                Место погрузки и график<br>
                уточняйте по телефону<br>
              </p>
          </div>
      </div>
    </div>

    {# row 2 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Москва</div>
    <div  class="col-sm-6 phone-city">Курск</div>
    </div>

    <div id="center_content" class="col-sm-12">
      
      <div  class="col-sm-6" id="map_2_1" style="overflow:hidden; height:300px; outline:0px dashed blue;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/moscow-static.png", "MO", redirect ) }}
      </div>

      <div  class="col-sm-6" id="map_2_2" style="overflow:hidden; height:300px; outline:0px dashed red;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/kursk-static.png", "KK", redirect ) }}      
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Тел: +7(812) 318-47-17 email: mail@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Тел: +7(4712) 44-60-18 email: V.Shukin@specsintez.com</div>
    </div>

    {# row 3 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Санкт-Петербург</div>
    <div  class="col-sm-6 phone-city">Ростов-на-Дону</div>
    </div>
    <div id="center_content" class="col-sm-12">
      <div  class="col-sm-6" id="map_3_1" style="overflow:hidden; height:300px; outline:0px dashed green;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/spb-static.png", "SP", redirect ) }}   
      </div>
      <div  class="col-sm-6" id="map_3_2" style="overflow:hidden; height:300px; outline:0px dashed magenta;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/rnd-static.png", "RO", redirect ) }} 
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Тел: +7(812) 318-47-17 email: mail@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Тел: +7(863) 201-43-44 email: rostov@specsintez.com</div>
    </div>

    {% endif %}
{# NSK RU end #}


{# NSK EN start #}
    {% if lang == 'en' and current_zone == 2768 %}
    <div id="center_content" class="col-sm-12">
      <div id="map" style="min-height:600px;">
          <div id="mapcontent">
            <h4>Contacts</h4>
            <p>
              <span class="txt24">
                <i class="fa fa-mobile" style="font-size:32px;"></i>
              </span> 
              +7 (383) <span style="font-size:24px; font-weight:bold;">363 09 88</span>
            </p>
            <p>
              <span class="txt24">
              <i class="fa fa-envelope"></i>
              </span>&nbsp;
              opt-nsk@specsintez.com
            </p>
              <h4>Address</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                </span>
                Office 222/5 Building 14<br> 
                Home 1/1, Novosibirsk <br> 
                Russia, 630117 <br>
                (from Ivanov street side)<br>                
              </p>
              <h4>Loading</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-truck" aria-hidden="true"></i>
                </span>
                For loading track call us<br>
                <br>
              </p>
          </div>
      </div>
    </div>
    {# row 2 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Moscow</div>
    <div  class="col-sm-6 phone-city">Kursk</div>
    </div>

    <div id="center_content" class="col-sm-12">
      
      <div  class="col-sm-6" id="map_2_1" style="overflow:hidden; height:300px; outline:0px dashed blue;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/moscow-static.png", "MO", redirect ) }}
      </div>

      <div  class="col-sm-6" id="map_2_2" style="overflow:hidden; height:300px; outline:0px dashed red;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/kursk-static.png", "KK", redirect ) }}      
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Phone: +7(495) 665-02-53 email: dir-msk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Phone: +7(4712) 44-60-18 email: V.Shukin@specsintez.com</div>
    </div>

    {# row 3 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">St. Peterburg</div>
    <div  class="col-sm-6 phone-city">Rostov na Donu</div>
    </div>
    <div id="center_content" class="col-sm-12">
      <div  class="col-sm-6" id="map_3_1" style="overflow:hidden; height:300px; outline:0px dashed green;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/spb-static.png", "SP", redirect ) }}   
      </div>
      <div  class="col-sm-6" id="map_3_2" style="overflow:hidden; height:300px; outline:0px dashed magenta;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/rnd-static.png", "RO", redirect ) }} 
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Phone: +7(812) 318-47-17 email: mail@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Phone: +7(863) 201-43-44 email: rostov@specsintez.com</div>
    </div>  
  {% endif %}
{# NSK EN end#}


{# R-n-D RU start #}   
    {% if lang == 'ru' and current_zone == 2778 %}
    <div id="center_content" class="col-sm-12">
      <div id="map" style="min-height:600px;">
          <div id="mapcontent">
            <h4>Контакты</h4>
            <p>
              <span class="txt24">
                <i class="fa fa-mobile" style="font-size:32px;"></i>
              </span> 
              +7 (863) <span style="font-size:24px; font-weight:bold;">201 43 44</span>
            </p>
            <p>
              <span class="txt24">
              <i class="fa fa-envelope"></i>
              </span>&nbsp;
              rostov@specsintez.com 
            </p>
              <h4>Адрес</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                </span>
                344091, г. Ростов-на-Дону,<br> 
                ул. Пескова, дом № 1/2/169а<br>
              </p>
              <h4>Подъезд</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-truck" aria-hidden="true"></i>
                </span>
                Место погрузки и график<br>
                уточняйте по телефону<br>
              </p>
          </div>
      </div>
    </div>

    {# row 2 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Москва</div>
    <div  class="col-sm-6 phone-city">Курск</div>
    </div>

    <div id="center_content" class="col-sm-12">
      
      <div  class="col-sm-6" id="map_2_1" style="overflow:hidden; height:300px; outline:0px dashed blue;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/moscow-static.png", "MO", redirect ) }}
      </div>

      <div  class="col-sm-6" id="map_2_2" style="overflow:hidden; height:300px; outline:0px dashed red;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/kursk-static.png", "KK", redirect ) }}      
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Тел: +7(495) 665-02-53 email: dir-msk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Тел: +7(4712) 44-60-18 email: V.Shukin@specsintez.com</div>
    </div>

    {# row 3 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Новосибирск</div>
    <div  class="col-sm-6 phone-city">Санкт-Петербург</div>
    </div>
    <div id="center_content" class="col-sm-12">
      <div  class="col-sm-6" id="map_3_1" style="overflow:hidden; height:300px; outline:0px dashed green;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/nsk-static.png", "NV", redirect ) }}   
      </div>
      <div  class="col-sm-6" id="map_3_2" style="overflow:hidden; height:300px; outline:0px dashed magenta;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/spb-static.png", "SP", redirect ) }} 
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Тел: +7(383) 363-10-88 email: opt-nsk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Тел: +7(812) 318-47-17 email: mail@specsintez.com</div>
    </div>
    {% endif %}
{# R-n-D RU end #}
{# R-n-D EN start #}
    {% if lang == 'en' and current_zone == 2778 %}
    <div id="center_content" class="col-sm-12">
      <div id="map" style="min-height:600px;">
          <div id="mapcontent">
            <h4>Contacts</h4>
            <p>
              <span class="txt24">
                <i class="fa fa-mobile" style="font-size:32px;"></i>
              </span> 
              +7 (863) <span style="font-size:24px; font-weight:bold;">201 43 44</span>
            </p>
            <p>
              <span class="txt24">
              <i class="fa fa-envelope"></i>
              </span>&nbsp;
              rostov@specsintez.com 
            </p>
              <h4>Address</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                </span>
                1/2/169а Peskov street <br>
                Rostov - na - Donu, <br> 
                Russia, 344091 <br>
              </p>
              <h4>Loading</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-truck" aria-hidden="true"></i>
                </span>
                For loading track call us<br>
                <br>
              </p>
          </div>
      </div>
    </div>
    {# row 2 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Moscow</div>
    <div  class="col-sm-6 phone-city">Kursk</div>
    </div>

    <div id="center_content" class="col-sm-12">
      
      <div  class="col-sm-6" id="map_2_1" style="overflow:hidden; height:300px; outline:0px dashed blue;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/moscow-static.png", "MO", redirect ) }}
      </div>

      <div  class="col-sm-6" id="map_2_2" style="overflow:hidden; height:300px; outline:0px dashed red;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/kursk-static.png", "KK", redirect ) }}      
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Phone: +7(495) 665-02-53 email: dir-msk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Phone: +7(4712) 44-60-18 email: V.Shukin@specsintez.com</div>
    </div>

    {# row 3 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Novosibirsk</div>
    <div  class="col-sm-6 phone-city">St. Peterburg</div>
    </div>
    <div id="center_content" class="col-sm-12">
      <div  class="col-sm-6" id="map_3_1" style="overflow:hidden; height:300px; outline:0px dashed green;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/nsk-static.png", "NV", redirect ) }}   
      </div>
      <div  class="col-sm-6" id="map_3_2" style="overflow:hidden; height:300px; outline:0px dashed magenta;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/spb-static.png", "SP", redirect ) }} 
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Phone: +7(383) 363-10-88 email: opt-nsk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Phone: +7(812) 318-47-17 email: mail@specsintez.com</div>
    </div>   
  {% endif %}
{# R-n-D EN end#}


{# KURSK RU start #}   
    {% if lang == 'ru' and current_zone == 2755 %}
    <div id="center_content" class="col-sm-12">
      <div id="map" style="min-height:600px;">
          <div id="mapcontent">
            <h4>Контакты</h4>
            <p>
              <span class="txt24">
                <i class="fa fa-mobile" style="font-size:32px;"></i>
              </span> 
              +7 (471 2) <span style="font-size:24px; font-weight:bold;">44 60 18</span>
            </p>
            <p>
              <span class="txt24">
              <i class="fa fa-envelope"></i>
              </span>&nbsp;
              V.Shukin@specsintez.com  
            </p>
              <h4>Адрес</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                </span>
                305018, г. Курск,<br> 
                Элеваторный переулок, д.14<br>
              </p>
              <h4>Подъезд</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-truck" aria-hidden="true"></i>
                </span>
                Место погрузки и график<br>
                уточняйте по телефону<br>
              </p>
          </div>
      </div>
    </div>

    {# row 2 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Москва</div>
    <div  class="col-sm-6 phone-city">Санкт-Петербург</div>
    </div>

    <div id="center_content" class="col-sm-12">
      
      <div  class="col-sm-6" id="map_2_1" style="overflow:hidden; height:300px; outline:0px dashed blue;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/moscow-static.png", "MO", redirect ) }}
      </div>

      <div  class="col-sm-6" id="map_2_2" style="overflow:hidden; height:300px; outline:0px dashed red;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/spb-static.png", "SP", redirect ) }}      
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Тел: +7(495) 665-02-53 email: dir-msk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Тел: +7(812) 318-47-17 email: mail@specsintez.com</div>
    </div>

    {# row 3 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Новосибирск</div>
    <div  class="col-sm-6 phone-city">Ростов-на-Дону</div>
    </div>
    <div id="center_content" class="col-sm-12">
      <div  class="col-sm-6" id="map_3_1" style="overflow:hidden; height:300px; outline:0px dashed green;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/nsk-static.png", "NV", redirect ) }}   
      </div>
      <div  class="col-sm-6" id="map_3_2" style="overflow:hidden; height:300px; outline:0px dashed magenta;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/rnd-static.png", "RO", redirect ) }} 
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Тел: +7(383) 363-10-88 email: opt-nsk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Тел: +7(863) 201-43-44 email: rostov@specsintez.com</div>
    </div>

    {% endif %}
{# KURSK RU end #}
{# KURSK EN start #}
    {% if lang == 'en' and current_zone == 2755 %}
    <div id="center_content" class="col-sm-12">
      <div id="map" style="min-height:600px;">
          <div id="mapcontent">
            <h4>Contacts</h4>
            <p>
              <span class="txt24">
                <i class="fa fa-mobile" style="font-size:32px;"></i>
              </span> 
              +7 (471 2) <span style="font-size:24px; font-weight:bold;">44 60 18</span>
            </p>
            <p>
              <span class="txt24">
              <i class="fa fa-envelope"></i>
              </span>&nbsp;
              V.Shukin@specsintez.com
            </p>
              <h4>Address</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                </span>
                14, Elevatornyj pereulok<br>
                Kursk, Russia <br>
                305018<br>
              </p>
              <h4>Loading</h4>
              <p>
                <span class="txt24">
                <i class="fa fa-truck" aria-hidden="true"></i>
                </span>
                For loading track call us<br>
                <br>
              </p>
          </div>
      </div>
    </div>
    {# row 2 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Moscow</div>
    <div  class="col-sm-6 phone-city">St.Peterburg</div>
    </div>

    <div id="center_content" class="col-sm-12">
      
      <div  class="col-sm-6" id="map_2_1" style="overflow:hidden; height:300px; outline:0px dashed blue;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/moscow-static.png", "MO", redirect ) }}
      </div>

      <div  class="col-sm-6" id="map_2_2" style="overflow:hidden; height:300px; outline:0px dashed red;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/spb-static.png", "SP", redirect ) }}      
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Phone: +7(495) 665-02-53 email: dir-msk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Phone: +7(812) 318-47-17 email: mail@specsintez.com</div>
    </div>

    {# row 3 #}
    <div>&nbsp;</div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-city">Novosibirsk</div>
    <div  class="col-sm-6 phone-city">Rostov na Donu</div>
    </div>
    <div id="center_content" class="col-sm-12">
      <div  class="col-sm-6" id="map_3_1" style="overflow:hidden; height:300px; outline:0px dashed green;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/nsk-static.png", "NV", redirect ) }}   
      </div>
      <div  class="col-sm-6" id="map_3_2" style="overflow:hidden; height:300px; outline:0px dashed magenta;">
        {% import "macros/city_form.twig" as city_form %}
        {{ city_form.show( form_action, "/image/catalog/map/rnd-static.png", "RO", redirect ) }} 
      </div>
    </div>
    <div id="center_content" class="col-sm-12">
    <div  class="col-sm-6 phone-map">Phone: +7(383) 363-10-88 email: opt-nsk@specsintez.com</div>
    <div  class="col-sm-6 phone-map">Phone: +7(863) 201-43-44 email: rostov@specsintez.com</div>
    </div>  
  {% endif %}
{# KURSK EN end#}

  </div>{# ROW #}
</div>{# INFORMATION-CONTACT #}

<script type="text/javascript">
/*
SPB
59.957891, 30.470622
MSK
55.889278, 37.578821
R-n-D
47.203139, 39.607592
NSK
54.872367, 83.103857
KURSK
51.677281, 36.152088

*/

  $(".city_image").on('click', function(){
    console.log("click");
  });

  ymaps.ready(function () {
    var myMap = new ymaps.Map('map', {
            center: [{{ center_map }}],
            zoom: 16,
            controls: [],
        }, {
            //searchControlProvider: 'yandex#search'
        }),

        // Создаём макет содержимого.
        MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
            '<div style="background:rgb(54,154,56);color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
        ),

        myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: 'Головной офис',
            balloonContent: '"СпецСинтез" <br/> Время работы: <br/> С 9:00 до 18:00 <br/> Выходные дни: Суббота, Воскресенье'
        }, {
            // Опции.
            // Необходимо указать данный тип макета.
            iconLayout: 'default#image',
            // Своё изображение иконки метки.
            iconImageHref: '/image/catalog/pages/contacts/yamap-maker.png',
            // Размеры метки.
            iconImageSize: [52, 70],
            // Смещение левого верхнего угла иконки относительно
            // её "ножки" (точки привязки).
            iconImageOffset: [-5, -38]
        })
        ;
        /*
        // Получим ссылку на элемент управления.
        control = myMap.controls.get('routeButtonControl');
        // Программно установим начальную точку маршрута.
        control.routePanel.state.set('to', 'чернышевская');
  */
    myMap.geoObjects
        .add(myPlacemark)
});

</script>

{{ footer }}


